font.Republican {
    background-color: #FFDDDD
}

font.Democratic {
    background-color: #DDDDFF
}

font.bill_title {
}

font.passed {
    background-color: #FFFF55
}

font.became_law {
    background-color: #55FF55
}

font.vetoed {
    background-color: #FF5555
}

font.agreed {
    background-color: #FFFF55
}

font.confirmed {
    background-color: #55FF55
}
